.todo {
    display: flex;
    width: 100%;
    height: 100vh;
    font-size: 14px;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // box-shadow: 1px 2px 20px #f3f3f3;
    // border-radius: 10px;
    // border: 1px solid #f1f1f1;
    
  
    &__sidebar {
      background-color: #f4f6f8;
      width: 20%;
      height: calc(100% - 120px);
      border-right: 1px solid #f1f1f1;
      padding: 60px 20px;
    }

    &__tasks {
      flex: 1;
      padding: 60px;
    }
  }

  .field {
    width: 100%;
    background: white;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 8px 12px;
  
    &:focus {
      border-color: #dbdbdb;
    }
  }
  
  .button {
    background: #4dd599;
    border-radius: 5px;
    color: white;
    border: 0ch;
    padding: 10px 20px;
  
    &:hover {
      background: darken(#4dd599, 10%);
    }
  
    &:active {
      background: darken(#4dd599, 15%);
    }
  }